{% load static %}
<ul class="list-group list-group-horizontal">
  <li class="list-group-item">
    <form method="post" action="{% url 'posts:like' post.id %}">
      {% csrf_token %}
      <input type="hidden" name="text" value="{{ request.path }}">
      <button style="background: transparent; border: none; box-shadow: none;" type="submit">
        <img src="{% static 'img/heart.png' %}"
              class="img-fluid"
              width="20"
              height="20"
              alt="">
      </button>
    </form>
  </li>
  {% if post.likes.all.count > 0 %}
    <li class="list-group-item">
      {{ post.likes.all.count }}
    </li>
  {% endif %}
  <a href="{% url 'posts:post_detail' post.pk %}" class="list-group-item link-primary">
      Комментариев: {{ post.comments.count }}</a>
</ul>