{% extends 'base.html' %}
{% block title %} {{ group.title }} {% endblock title %}
{% block content %}
  {% load thumbnail %}
  <div class="container">
    <figure class="text-center">
      <h1>{{ group.title }}</h1>
      <p><em>{{ group.description|linebreaksbr }}</em></p>
    </figure>
      {% for post in page_obj %}
        {% include 'posts/includes/post.html' with no_display_group=True post_width=68rem %}
        {% if not forloop.last %}<p>{% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </div>
  {% endblock %}
